<%- include("header"); -%>
this is uday
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem repudiandae perferendis, inventore incidunt ullam repellat maiores cupiditate enim quis rem assumenda. Animi minus neque ipsam? Sit laudantium iusto voluptatem aliquid.</p>
<%- include("footer"); -%>